.footer {
  margin-top: 79px;
}

.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 70px;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #8b8b8b;
  text-align: center;
}

.footer__block {
  border-top: 1px solid #424242;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
}

.footer__socials {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__item {
  margin-right: 20px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  transition: color 0.3s;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.6);
}


@media (max-width: 800px) {
  .footer__container {
    padding: 0 50px;
  }
}

@media (max-width: 500px) {
  .footer__container {
    padding: 0 10px;
  }
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__block {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
  }
  .footer__socials {
    flex-direction: column;
    align-items: center;
  }
  .footer__item {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__copyright {
    margin-top: 30px;
    font-size: 12px;
    line-height: 15px;
    color: #8b8b8b;
  }
}
